.navbar{

    display: flex;
    justify-content:space-evenly;
    padding: 60px;
    
}

.Column1{
    display: flex;
    font-size: xx-large;
    background-color:rgb(215, 229, 238);
}
.girlwithpet{
    margin-left: 20%;
    
}

.header2{
    display: flex;

}
.Column3{
    display: flex;
    justify-content: space-evenly;
    font-size:xx-large;
}
    
.footer{
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}
.Column4{
    display: flex;
}
.bestVegeterian{
    margin-right: 50%;
}

.Column5{
    display: flex;
    margin-top: 5%;
    margin-left: 12%;
}
.comment{
    margin-left: 20%;
    margin-top: 10%;
}
.scores{
    margin-left: 20%;
}
.Column6{
    display: flex;
}
.friendly{
    margin-left: 20%;
}





